		*{
			margin: 0;
			padding: 0;
		}
		body{
			background:url(/SecrecySystem/resources/images/background.gif); 
		}
		.leftbox{
			width: 300px;
			position: relative;
			left: 150px;
		}
		.leftbox .top{
			position: relative;
			height:70px;
			top: 70px;
			font-size:32px;
			font-family:"微软雅黑";
			color: white;
		}
		.leftbox .middle{
			height: 520px;
		}
		.leftbox .bottom{
			height: 70px;
		}
		.leftbox .bottom p{
			height: 20px;
			background: url(/SecrecySystem/resources/images/user.png) no-repeat;
			padding-left: 15px;
			font-size: 15px;
			font-family: "微软雅黑";
			color: white;
		}
		.rightbox{
			width: 374px;
			height: 280px;
			top: 246px;
			left: 940px;
			background: url(/SecrecySystem/resources/images/login.gif);
			position: absolute;
			z-index: 20;
			border-radius: 9px;
		}
		.rightbox .login{
			background: url(/SecrecySystem/resources/images/log-in.gif);
			top: 200px;
			left:300px; 
		}